/* basic formatting */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Black: #000000;
    --Catalina: #06327d;
    --Bluetiful: #2b70e4;
    --Vegan: #209d5c;
    --Sunglow: #ffd034;
    --White: #ffffff;
    --Lightblue: #cadbf8;
    --font: "Montserrat";
}

/* BASIC FORMATTING */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--Black);
    background-color: var(--Catalina);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.1667;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    color: var(--White);
        display: inline;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1667;
    font-weight: 300;
    text-transform: uppercase;

}

h3 {
    font-size: 1.75rem;
    line-height: 1.1667;
    font-weight: 300;
}

.button {
    display: inline-block;
    padding: 1rem;
    border-radius: 18px;
    background-color: var(--Vegan);
    text-decoration: none;
    color: var(--White);
}

nav {
    padding-top: 2rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--White);
}

nav ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

header {
    text-align: center;
    border-bottom: 5px solid var(--Sunglow);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: baseline;
}


.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--White);
    width: 100%;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
}

.cards img {
    border-radius: 10px;
}

.grid2 {
    background-color: var(--Lightblue);
    padding: 1rem;
}

.gridtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    align-items: flex-start;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
}

.button2 {
    display: inline-block;
    padding: 1rem;
    border-radius: 18px;
    text-decoration: none;
    background-color: var(--Catalina);
    color: var(--White);
    text-transform: uppercase;
}

footer {
    background-color: var(--Catalina);
    color: var(--White);
    text-align: center;
    padding: 2rem 0;
    border-top: 15px solid var(--Sunglow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

.buttonpage2 {
    background-color: var(--Vegan);
    display: inline-block;
    padding: .5rem;
    border-radius: 18px;
    text-decoration: none;
    color: var(--White);
}

.lattegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--White);
    max-width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 650px) {
    header {
        justify-content: center;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        justify-content: space-between;
    }

    .card1 {
        grid-column: 1/2;
    }
}

@media (min-width: 1000px) {
    header {
        justify-content: space-between;
    }

    nav ul {
        justify-content: space-between;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .logo img {
        display: block;
    }
}