/* BASIC FORMATTING */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Black+Ops+One&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fontdiner+Swanky&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
:root {
    --Black :#000000; 
    --Catalina: #06327d;
    --Bluetiful: #2b70e4;
    --Vegan: #209d5c;
    --Sunglow: #ffd034; 
    --White: #ffffff;
    --LightBlue: #cadbf8;
    --montserrat: font;
}

body {
    font-family: var(--font);
    color: var(--black);
    background-color: var(--catalina);
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
max-width: 1200px;
margin: 0 auto; 
padding: 0 auto;   
}

.h1 {
font-weight: 300;
text-transform: uppercase;
margin: 0;
}

.h2 {
font-weight: 300;
text-transform: uppercase;
}

.h3 {
    font-size: 1.75rem;
font-weight: 300;
line-height: 1.1667;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: center;
}

nav a {
    text-decoration: none;
    padding: 2rem;
    text-transformation: uppercase;
    color: var(--white);
}

.button {
 text-decoration: none;
 background-color: var(--catalina);
 display: inline-block;
 border-radius: 20px;
 padding: 1rem;   
}